3_Code_Source/workflows/3 - Rapport Quotidien Automatique.blueprint.json
{
    "name": "3 - Rapport Quotidien Automatique",
    "flow": [
        {
            "id": 1,
            "module": "util:BasicTrigger",
            "version": 1,
            "parameters": {
                "values": [
                    {
                        "spec": [
                            {
                                "name": "trigger",
                                "value": "starts"
                            }
                        ]
                    }
                ]
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 67,
                    "y": -389
                },
                "restore": {
                    "parameters": {
                        "values": {
                            "items": [
                                {
                                    "spec": {
                                        "mode": "chose",
                                        "items": [
                                            null
                                        ]
                                    }
                                }
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "spec",
                                "spec": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name",
                                        "required": true
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value",
                                        "required": true
                                    }
                                ],
                                "type": "array",
                                "label": "Items",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Bundles",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "trigger",
                        "type": "text",
                        "label": "trigger"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "tlsType": "",
                "proxyKeychain": "",
                "authenticationType": "noAuth"
            },
            "mapper": {
                "url": "https://puvjksqfwvfguxeqobqe.supabase.co/rest/v1/transactions",
                "method": "get",
                "headers": [
                    {
                        "name": "apikey",
                        "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB1dmprc3Fmd3ZmZ3V4ZXFvYnFlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODk3OTA4MSwiZXhwIjoyMDg0NTU1MDgxfQ.987cEpuXr9p_NKzaxPreLeXPj2uh14R2aeqRxiGREYw"
                    },
                    {
                        "name": "Authorization",
                        "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB1dmprc3Fmd3ZmZ3V4ZXFvYnFlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODk3OTA4MSwiZXhwIjoyMDg0NTU1MDgxfQ.987cEpuXr9p_NKzaxPreLeXPj2uh14R2aeqRxiGREYw"
                    },
                    {
                        "name": "Content-Type",
                        "value": "application/json"
                    }
                ],
                "shareCookies": false,
                "parseResponse": true,
                "allowRedirects": true,
                "queryParameters": [
                    {
                        "name": "select",
                        "value": "transaction_id,amount,merchant_name,is_fraud"
                    },
                    {
                        "name": "timestamp",
                        "value": "gte.2026-01-21T00:00:00"
                    },
                    {
                        "name": "timestamp",
                        "value": "lt.2026-01-22T00:00:00"
                    }
                ],
                "stopOnHttpError": true,
                "requestCompressedContent": true
            },
            "metadata": {
                "designer": {
                    "x": 295,
                    "y": -31
                },
                "restore": {
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null,
                                null,
                                null
                            ]
                        },
                        "contentType": {
                            "label": "Empty"
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "parseResponse": {
                            "mode": "chose"
                        },
                        "allowRedirects": {
                            "mode": "chose"
                        },
                        "paginationType": {
                            "label": "Empty"
                        },
                        "queryParameters": {
                            "mode": "chose",
                            "items": [
                                null,
                                null,
                                null
                            ]
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        },
                        "requestCompressedContent": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "tlsType": {
                            "label": "Empty"
                        },
                        "proxyKeychain": {
                            "label": "Choose a key"
                        },
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    },
                    {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                            "enum": [
                                "mTls",
                                "tls"
                            ]
                        }
                    },
                    {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Header"
                        },
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "queryParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Parameter"
                        },
                        "type": "array",
                        "label": "Query parameters"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                            "enum": [
                                "json",
                                "multipart",
                                "urlEncoded",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                            "enum": [
                                "offsetBased",
                                "pageBased",
                                "urlBased",
                                "tokenBased"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "type": "any",
                        "label": "Data"
                    },
                    {
                        "name": "statusCode",
                        "type": "number",
                        "label": "Status Code"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "content-length",
                                "type": "text",
                                "label": "Content-Length"
                            },
                            {
                                "name": "content-encoding",
                                "type": "text",
                                "label": "Content-Encoding"
                            },
                            {
                                "name": "content-type",
                                "type": "text",
                                "label": "Content-Type"
                            },
                            {
                                "name": "server",
                                "type": "text",
                                "label": "Server"
                            },
                            {
                                "name": "cache-control",
                                "type": "text",
                                "label": "Cache-Control"
                            },
                            {
                                "name": "set-cookie",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "Set-Cookie"
                            }
                        ],
                        "type": "collection",
                        "label": "Headers"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "tlsType": "",
                "proxyKeychain": "",
                "authenticationType": "noAuth"
            },
            "mapper": {
                "url": "https://puvjksqfwvfguxeqobqe.supabase.co/rest/v1/transactions",
                "method": "get",
                "headers": [
                    {
                        "name": "apikey",
                        "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB1dmprc3Fmd3ZmZ3V4ZXFvYnFlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODk3OTA4MSwiZXhwIjoyMDg0NTU1MDgxfQ.987cEpuXr9p_NKzaxPreLeXPj2uh14R2aeqRxiGREYw"
                    },
                    {
                        "name": "Authorization",
                        "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB1dmprc3Fmd3ZmZ3V4ZXFvYnFlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODk3OTA4MSwiZXhwIjoyMDg0NTU1MDgxfQ.987cEpuXr9p_NKzaxPreLeXPj2uh14R2aeqRxiGREYw"
                    },
                    {
                        "name": "Content-Type",
                        "value": "application/json"
                    }
                ],
                "shareCookies": false,
                "parseResponse": true,
                "allowRedirects": true,
                "queryParameters": [
                    {
                        "name": "select",
                        "value": "count"
                    },
                    {
                        "name": "is_fraud",
                        "value": "eq.true"
                    },
                    {
                        "name": "timestamp",
                        "value": "gte.2026-01-21T00:00:00"
                    },
                    {
                        "name": "timestamp",
                        "value": "lt.2026-01-22T00:00:00"
                    }
                ],
                "stopOnHttpError": true,
                "requestCompressedContent": true
            },
            "metadata": {
                "designer": {
                    "x": 580,
                    "y": -27
                },
                "restore": {
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null,
                                null,
                                null
                            ]
                        },
                        "contentType": {
                            "label": "Empty"
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "parseResponse": {
                            "mode": "chose"
                        },
                        "allowRedirects": {
                            "mode": "chose"
                        },
                        "paginationType": {
                            "label": "Empty"
                        },
                        "queryParameters": {
                            "mode": "chose",
                            "items": [
                                null,
                                null,
                                null,
                                null
                            ]
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        },
                        "requestCompressedContent": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "tlsType": {
                            "label": "Empty"
                        },
                        "proxyKeychain": {
                            "label": "Choose a key"
                        },
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    },
                    {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                            "enum": [
                                "mTls",
                                "tls"
                            ]
                        }
                    },
                    {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Header"
                        },
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "queryParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Parameter"
                        },
                        "type": "array",
                        "label": "Query parameters"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                            "enum": [
                                "json",
                                "multipart",
                                "urlEncoded",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                            "enum": [
                                "offsetBased",
                                "pageBased",
                                "urlBased",
                                "tokenBased"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "type": "any",
                        "label": "Data"
                    },
                    {
                        "name": "statusCode",
                        "type": "number",
                        "label": "Status Code"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "content-length",
                                "type": "text",
                                "label": "Content-Length"
                            },
                            {
                                "name": "content-encoding",
                                "type": "text",
                                "label": "Content-Encoding"
                            },
                            {
                                "name": "content-type",
                                "type": "text",
                                "label": "Content-Type"
                            },
                            {
                                "name": "server",
                                "type": "text",
                                "label": "Server"
                            },
                            {
                                "name": "cache-control",
                                "type": "text",
                                "label": "Cache-Control"
                            },
                            {
                                "name": "set-cookie",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "Set-Cookie"
                            }
                        ],
                        "type": "collection",
                        "label": "Headers"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "tlsType": "",
                "proxyKeychain": "",
                "authenticationType": "noAuth"
            },
            "mapper": {
                "url": "https://PUVJKSQFWVFGUXEQOBQE.supabase.co/rest/v1/daily_revenue",
                "method": "get",
                "headers": [
                    {
                        "name": "apikey",
                        "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB1dmprc3Fmd3ZmZ3V4ZXFvYnFlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODk3OTA4MSwiZXhwIjoyMDg0NTU1MDgxfQ.987cEpuXr9p_NKzaxPreLeXPj2uh14R2aeqRxiGREYw"
                    },
                    {
                        "name": "Authorization",
                        "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB1dmprc3Fmd3ZmZ3V4ZXFvYnFlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODk3OTA4MSwiZXhwIjoyMDg0NTU1MDgxfQ.987cEpuXr9p_NKzaxPreLeXPj2uh14R2aeqRxiGREYw"
                    },
                    {
                        "name": "Content-Type",
                        "value": "application/json"
                    }
                ],
                "shareCookies": false,
                "parseResponse": true,
                "allowRedirects": true,
                "queryParameters": [
                    {
                        "name": "day",
                        "value": "eq.2026-01-21"
                    }
                ],
                "stopOnHttpError": true,
                "requestCompressedContent": true
            },
            "metadata": {
                "designer": {
                    "x": 871,
                    "y": -25
                },
                "restore": {
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null,
                                null,
                                null
                            ]
                        },
                        "contentType": {
                            "label": "Empty"
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "parseResponse": {
                            "mode": "chose"
                        },
                        "allowRedirects": {
                            "mode": "chose"
                        },
                        "paginationType": {
                            "label": "Empty"
                        },
                        "queryParameters": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        },
                        "requestCompressedContent": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "tlsType": {
                            "label": "Empty"
                        },
                        "proxyKeychain": {
                            "label": "Choose a key"
                        },
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    },
                    {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                            "enum": [
                                "mTls",
                                "tls"
                            ]
                        }
                    },
                    {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Header"
                        },
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "queryParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Parameter"
                        },
                        "type": "array",
                        "label": "Query parameters"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                            "enum": [
                                "json",
                                "multipart",
                                "urlEncoded",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                            "enum": [
                                "offsetBased",
                                "pageBased",
                                "urlBased",
                                "tokenBased"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "type": "any",
                        "label": "Data"
                    },
                    {
                        "name": "statusCode",
                        "type": "number",
                        "label": "Status Code"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "content-length",
                                "type": "text",
                                "label": "Content-Length"
                            },
                            {
                                "name": "content-encoding",
                                "type": "text",
                                "label": "Content-Encoding"
                            },
                            {
                                "name": "content-type",
                                "type": "text",
                                "label": "Content-Type"
                            },
                            {
                                "name": "server",
                                "type": "text",
                                "label": "Server"
                            },
                            {
                                "name": "cache-control",
                                "type": "text",
                                "label": "Cache-Control"
                            },
                            {
                                "name": "set-cookie",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "Set-Cookie"
                            }
                        ],
                        "type": "collection",
                        "label": "Headers"
                    }
                ]
            }
        },
        {
            "id": 17,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "tlsType": "",
                "proxyKeychain": "",
                "authenticationType": "noAuth"
            },
            "mapper": {
                "url": "https://PUVJKSQFWVFGUXEQOBQE.supabase.co/rest/v1/frauds_count_daily",
                "method": "get",
                "headers": [
                    {
                        "name": "apikey",
                        "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB1dmprc3Fmd3ZmZ3V4ZXFvYnFlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODk3OTA4MSwiZXhwIjoyMDg0NTU1MDgxfQ.987cEpuXr9p_NKzaxPreLeXPj2uh14R2aeqRxiGREYw"
                    },
                    {
                        "name": "Authorization",
                        "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB1dmprc3Fmd3ZmZ3V4ZXFvYnFlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODk3OTA4MSwiZXhwIjoyMDg0NTU1MDgxfQ.987cEpuXr9p_NKzaxPreLeXPj2uh14R2aeqRxiGREYw"
                    },
                    {
                        "name": "Content-Type",
                        "value": "application/json"
                    }
                ],
                "shareCookies": false,
                "parseResponse": true,
                "allowRedirects": true,
                "queryParameters": [
                    {
                        "name": "select",
                        "value": "fraud_count"
                    }
                ],
                "stopOnHttpError": true,
                "requestCompressedContent": true
            },
            "metadata": {
                "designer": {
                    "x": 1152,
                    "y": -23
                },
                "restore": {
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null,
                                null,
                                null
                            ]
                        },
                        "contentType": {
                            "label": "Empty"
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "parseResponse": {
                            "mode": "chose"
                        },
                        "allowRedirects": {
                            "mode": "chose"
                        },
                        "paginationType": {
                            "label": "Empty"
                        },
                        "queryParameters": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        },
                        "requestCompressedContent": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "tlsType": {
                            "label": "Empty"
                        },
                        "proxyKeychain": {
                            "label": "Choose a key"
                        },
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    },
                    {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                            "enum": [
                                "mTls",
                                "tls"
                            ]
                        }
                    },
                    {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Header"
                        },
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "queryParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Parameter"
                        },
                        "type": "array",
                        "label": "Query parameters"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                            "enum": [
                                "json",
                                "multipart",
                                "urlEncoded",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                            "enum": [
                                "offsetBased",
                                "pageBased",
                                "urlBased",
                                "tokenBased"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "type": "any",
                        "label": "Data"
                    },
                    {
                        "name": "statusCode",
                        "type": "number",
                        "label": "Status Code"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "content-length",
                                "type": "text",
                                "label": "Content-Length"
                            },
                            {
                                "name": "content-encoding",
                                "type": "text",
                                "label": "Content-Encoding"
                            },
                            {
                                "name": "content-type",
                                "type": "text",
                                "label": "Content-Type"
                            },
                            {
                                "name": "server",
                                "type": "text",
                                "label": "Server"
                            },
                            {
                                "name": "cache-control",
                                "type": "text",
                                "label": "Cache-Control"
                            },
                            {
                                "name": "set-cookie",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "Set-Cookie"
                            }
                        ],
                        "type": "collection",
                        "label": "Headers"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "tlsType": "",
                "proxyKeychain": "",
                "authenticationType": "noAuth"
            },
            "mapper": {
                "url": "https://puvjksqfwvfguxeqobqe.supabase.co/rest/v1/top_merchants_daily",
                "method": "get",
                "headers": [
                    {
                        "name": "apikey",
                        "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB1dmprc3Fmd3ZmZ3V4ZXFvYnFlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODk3OTA4MSwiZXhwIjoyMDg0NTU1MDgxfQ.987cEpuXr9p_NKzaxPreLeXPj2uh14R2aeqRxiGREYw"
                    },
                    {
                        "name": "Authorization",
                        "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB1dmprc3Fmd3ZmZ3V4ZXFvYnFlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODk3OTA4MSwiZXhwIjoyMDg0NTU1MDgxfQ.987cEpuXr9p_NKzaxPreLeXPj2uh14R2aeqRxiGREYw"
                    },
                    {
                        "name": "Content-Type",
                        "value": "application/json"
                    }
                ],
                "shareCookies": false,
                "parseResponse": true,
                "allowRedirects": true,
                "queryParameters": [
                    {
                        "name": "select",
                        "value": "merchant_name,total_revenue,tx_count"
                    },
                    {
                        "name": "report_date",
                        "value": "eq.{{formatDate(addDays(now; -1); \"YYYY-MM-DD\")}}"
                    },
                    {
                        "name": "order",
                        "value": "total_revenue.desc"
                    },
                    {
                        "name": "limit",
                        "value": "5"
                    }
                ],
                "stopOnHttpError": true,
                "requestCompressedContent": true
            },
            "metadata": {
                "designer": {
                    "x": 1495,
                    "y": -32
                },
                "restore": {
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null,
                                null,
                                null
                            ]
                        },
                        "contentType": {
                            "label": "Empty"
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "parseResponse": {
                            "mode": "chose"
                        },
                        "allowRedirects": {
                            "mode": "chose"
                        },
                        "paginationType": {
                            "label": "Empty"
                        },
                        "queryParameters": {
                            "mode": "chose",
                            "items": [
                                null,
                                null,
                                null,
                                null
                            ]
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        },
                        "requestCompressedContent": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "tlsType": {
                            "label": "Empty"
                        },
                        "proxyKeychain": {
                            "label": "Choose a key"
                        },
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    },
                    {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                            "enum": [
                                "mTls",
                                "tls"
                            ]
                        }
                    },
                    {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Header"
                        },
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "queryParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Parameter"
                        },
                        "type": "array",
                        "label": "Query parameters"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                            "enum": [
                                "json",
                                "multipart",
                                "urlEncoded",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                            "enum": [
                                "offsetBased",
                                "pageBased",
                                "urlBased",
                                "tokenBased"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "type": "any",
                        "label": "Data"
                    },
                    {
                        "name": "statusCode",
                        "type": "number",
                        "label": "Status Code"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "content-length",
                                "type": "text",
                                "label": "Content-Length"
                            },
                            {
                                "name": "content-encoding",
                                "type": "text",
                                "label": "Content-Encoding"
                            },
                            {
                                "name": "content-type",
                                "type": "text",
                                "label": "Content-Type"
                            },
                            {
                                "name": "server",
                                "type": "text",
                                "label": "Server"
                            },
                            {
                                "name": "cache-control",
                                "type": "text",
                                "label": "Cache-Control"
                            },
                            {
                                "name": "set-cookie",
                                "spec": {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                },
                                "type": "array",
                                "label": "Set-Cookie"
                            }
                        ],
                        "type": "collection",
                        "label": "Headers"
                    }
                ]
            }
        },
        {
            "id": 18,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "tlsType": "",
                "proxyKeychain": "",
                "authenticationType": "noAuth"
            },
            "mapper": {
                "url": "https://puvjksqfwvfguxeqobqe.supabase.co/rest/v1/top_merchants_daily_text",
                "method": "get",
                "headers": [
                    {
                        "name": "apikey",
                        "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB1dmprc3Fmd3ZmZ3V4ZXFvYnFlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODk3OTA4MSwiZXhwIjoyMDg0NTU1MDgxfQ.987cEpuXr9p_NKzaxPreLeXPj2uh14R2aeqRxiGREYw"
                    },
                    {
                        "name": "Authorization",
                        "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB1dmprc3Fmd3ZmZ3V4ZXFvYnFlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODk3OTA4MSwiZXhwIjoyMDg0NTU1MDgxfQ.987cEpuXr9p_NKzaxPreLeXPj2uh14R2aeqRxiGREYw"
                    },
                    {
                        "name": "Content-Type",
                        "value": "application/json"
                    }
                ],
                "shareCookies": false,
                "parseResponse": true,
                "allowRedirects": true,
                "queryParameters": [
                    {
                        "name": "select",
                        "value": "top5_block"
                    }
                ],
                "stopOnHttpError": true,
                "requestCompressedContent": true
            },
            "metadata": {
                "designer": {
                    "x": 1784,
                    "y": -38
                },
                "restore": {
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null,
                                null,
                                null
                            ]
                        },
                        "contentType": {
                            "label": "Empty"
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "parseResponse": {
                            "mode": "chose"
                        },
                        "allowRedirects": {
                            "mode": "chose"
                        },
                        "paginationType": {
                            "label": "Empty"
                        },
                        "queryParameters": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        },
                        "requestCompressedContent": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "tlsType": {
                            "label": "Empty"
                        },
                        "proxyKeychain": {
                            "label": "Choose a key"
                        },
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    },
                    {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                            "enum": [
                                "mTls",
                                "tls"
                            ]
                        }
                    },
                    {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Header"
                        },
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "queryParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Parameter"
                        },
                        "type": "array",
                        "label": "Query parameters"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                            "enum": [
                                "json",
                                "multipart",
                                "urlEncoded",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                            "enum": [
                                "offsetBased",
                                "pageBased",
                                "urlBased",
                                "tokenBased"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "type": "any",
                        "label": "Data"
                    },
                    {
                        "name": "statusCode",
                        "type": "number",
                        "label": "Status Code"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "content-length",
                                "type": "text",
                                "label": "Content-Length"
                            },
                            {
                                "name": "content-encoding",
                                "type": "text",
                                "label": "Content-Encoding"
                            },
                            {
                                "name": "content-type",
                                "type": "text",
                                "label": "Content-Type"
                            },
                            {
                                "name": "server",
                                "type": "text",
                                "label": "Server"
                            },
                            {
                                "name": "cache-control",
                                "type": "text",
                                "label": "Cache-Control"
                            },
                            {
                                "name": "set-cookie",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "Set-Cookie"
                            }
                        ],
                        "type": "collection",
                        "label": "Headers"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "google-email:sendAnEmail",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 4759629
            },
            "mapper": {
                "to": [
                    "hamidszdoudi@gmail.com"
                ],
                "content": "<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #111;\">\n  <h2 style=\"margin: 0 0 10px 0;\">Rapport quotidien  Transactions & Fraude</h2>\n\n  <p style=\"margin: 0 0 12px 0;\">\n    <strong>Date du rapport :</strong>\n    {{formatDate(addDays(now; -1); \"YYYY-MM-DD\")}}\n  </p>\n\n  <h3 style=\"margin: 16px 0 8px 0;\">Synthse</h3>\n  <ul style=\"margin: 0 0 12px 18px; padding: 0;\">\n    <li><strong>Revenus totaux :</strong> {{TOTAL_REVENUE}} {{5.data[].total_revenue}}</li>\n    <li><strong>Nombre de transactions :</strong> {{TX_COUNT}}{{6.data[].tx_count}}</li>\n    <li><strong>Nombre de fraudes dtectes :</strong> {{FRAUD_COUNT}}{{17.data[].fraud_count}}</li>\n  </ul>\n\n  <h3 style=\"margin: 16px 0 8px 0;\">Top 5 marchands (par revenus)</h3>\n  <div style=\"background:#f6f7f9; border: 1px solid #e5e7eb; padding: 12px; border-radius: 8px;\">\n    {{TOP5_BLOCK}}{{18.data[].top5_block}}\n  </div>\n\n  <p style=\"margin: 14px 0 0 0; color:#6b7280; font-size: 12px;\">\n    Rapport gnr automatiquement par Make (Workflow 3).\n  </p>\n</div>\n",
                "subject": " Rapport quotidien  Transactions & Fraude ({{formatDate(addDays(now; -1); \"YYYY-MM-DD\")}})",
                "bodyType": "rawHtml"
            },
            "metadata": {
                "designer": {
                    "x": 2116,
                    "y": -50
                },
                "restore": {
                    "expect": {
                        "cc": {
                            "mode": "chose"
                        },
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "bcc": {
                            "mode": "chose"
                        },
                        "from": {
                            "mode": "chose"
                        },
                        "bodyType": {
                            "label": "Raw HTML"
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "emailHeaders": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-email"
                            },
                            "label": "My Gmail connection (abdelhamidsadoudi.pro@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-email",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address",
                            "required": true,
                            "validate": true
                        },
                        "type": "array",
                        "label": "To",
                        "required": true
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "rawHtml",
                                "collection"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "filename",
                                    "type": "filename",
                                    "label": "File name",
                                    "required": true,
                                    "semantic": "file:name"
                                },
                                {
                                    "name": "data",
                                    "type": "buffer",
                                    "label": "Data",
                                    "required": true,
                                    "semantic": "file:data"
                                }
                            ],
                            "type": "collection",
                            "label": "Attachment"
                        },
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "From"
                    },
                    {
                        "name": "cc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address",
                            "required": true
                        },
                        "type": "array",
                        "label": "CC recipients"
                    },
                    {
                        "name": "bcc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address",
                            "required": true
                        },
                        "type": "array",
                        "label": "BCC recipients"
                    },
                    {
                        "name": "emailHeaders",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Key",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Email header"
                        },
                        "type": "array",
                        "label": "Additional email headers"
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}